<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c002b551d9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="row header">
    <ul class="nav">
        <p class="nav-item logo"><a href="/customer">Toy Shop</a></p>
        <li class="nav-item"><a href="/admin" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/customer" class="nav-link">Customer</a></li>
        <li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
    </ul>
  </div>
  {{{body}}}

<footer>
  <div class="footer" id="contact">
    <div class="inf">
      <ul>
        <li>About</li>
        <li>Services</li>
        <li>FAQ</li>
        <li>Contact</li>
      </ul>
    </div>
    <h4>Contact Us</h4>
    <div class="icon">
      <ul>
        <li><a href="https://www.facebook.com/yntts.2510"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/nhungvu5/"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/Shyn_HN"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://www.pinterest.com/nhung0518/"><i class="fa-brands fa-pinterest"></i></a></li>
      </ul>
    </div>

    <div class="coppy">
      <p>Copyright ©2022 by Toy Shop.</p>
    </div>
  </div>
  </footer>
</body>

</html>