<div class="row main-customer text-center" style="margin-left: 5%;">
    <div class="ct">
        <div class="form-inline">
            <div class="icon">
                <ul>
                    <li><a href="/customer/sort/asc"><i class="bi bi-sort-alpha-up"></i></a></li>
                    <li><a href="/customer/sort/desc"><i class="bi bi-sort-alpha-down-alt"></i></a></li>
                </ul>
            </div>
            <div>
                <form action="/customer/search" method="post" class="form-inline">
                    <input class="form-control" type="search" name="name" placeholder="Search"
                        style="margin-right: 5px">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    {{#each toy}}
    <div class="toy card-group" style="width: 60px; margin: 5px 18% 5px 10px">
        <div class="item block form-inline text-center" style=" margin-left: 50px; ">
            <div>
                <a href="/customer/detail/{{_id}}" class="nav-link">
                    <img class="rounded" src="{{image}}" width="200px" height="auto">
                </a>
            </div>
            <div>{{name}}</div>
            <div>${{price}}</div>
        </div>
    </div>
    {{/each}}
</div>